In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

2024-05-21 18:34:06.873646: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
ticker = 'MSFT'
df = yf.download(ticker)
df = df[['Open', 'High', 'Low', 'Close', 'Volume']]
df.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close      Volume
Date
1986-03-13  0.088542  0.101563  0.088542  0.097222  1031788800
1986-03-14  0.097222  0.102431  0.097222  0.100694   308160000
1986-03-17  0.100694  0.103299  0.100694  0.102431   133171200
1986-03-18  0.102431  0.103299  0.098958  0.099826    67766400
1986-03-19  0.099826  0.100694  0.097222  0.098090    47894400